<div id="categories">
    <div class="category"routerLink="/work">
        <img src="\assets\1.jpg" class="category-image">
        <p class="category-description">Click to see my previous work</p>
    </div>
    <div class="category" routerLink="/hobbies">
        <img src="\assets\13863.jpg" class="category-image">
        <p class="category-description">Click to see my hobbies</p>
    </div>
    <div class="category"routerLink="/courses">
        <img src="\assets\courseintroimage.jpg" class="category-image">
        <p class="category-description">Click to see my additional courses</p>
    </div>
</div>